* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(163, 172, 184);
}
html {
  font-size: 62.5%;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}
.heading h1 {
  font-size: 6rem;
}
